.center {
  padding: 10px;
  margin: auto
}

.cardItem{
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #fff;
}

.roundedInput {
  padding:10px;
  border-radius:10px;
  border: 0;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}


.bodyBgd {
  background-image: url("/beveragePattern2-01.svg");
}

