.imageContainer {
  width: 100%;
  height: 200px;
  position: relative;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
