.landingSvg {
  background-image: url("/landing-01.png");
  min-height: 400px;
  align-self: right;
  background-position: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 5%;
}
